{% extends "layout.html" %}
{% block title %}Transfer{% endblock %}
{% block content %}

<script langauge="javascript">
  var attestationListener = createAttestationListener('#transfer-form',
                                                      "{{ url_for('webauthn_begin_transfer') }}",
                                                      "{{ url_for('webauthn_finish_transfer') }}");
  
  document.addEventListener("DOMContentLoaded", e => {
      document.querySelector('#transfer_button').addEventListener('click', attestationListener);
  });
</script>

<b>Balance: </b><span id="myZoobars"></span> zoobars<br />

<form id="transfer-form" name="transfer" method="get">
  <label for="transfer_amount">Amount:</label>
  <input name="transfer_amount"></input>
  <label for="transfer_recipient">Recipient:</label>
  <input name="transfer_recipient"></input>
  <button id="transfer_button" type="submit">Send Zoobars</button>

  <!-- A field to hold the redirect url -->
  <input type="hidden" name="nexturl" value="{{ nexturl }}">
</form>

{% if warning %}
<span class="warning">{{ warning }}</span>
{% endif %}
<script type="text/javascript" src="{{ url_for('zoobarjs') }}"></script>
{% endblock %}
